
@font-face {
  font-family: 'Lato'; 
  src: local('Lato'),
    url(../fonts/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato'; 
  src: local('Lato'),
    url(../fonts/Lato-Light.ttf);
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Lato'; 
  src: local('Lato'),
    url(../fonts/Lato-Thin.ttf);
  font-weight: 200;
  font-style: thin;
}

input:active,
input:hover,
input:focus,
select:active,
select:hover,
select:focus {
outline: none;
}

.font180 {
  font-size: 180px;
  line-height: 216px;
}

.font90 {
  font-size: 90px;
  line-height: 108px;
}

.font50 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
}

.font30 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.font25 {
  font-size: 25px;
  line-height: 30px;
}

.font18 {
  font-size: 19px;
  line-height: 22.6px;
  font-weight: 200;
}

.font15 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 200;
}

.desktop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
}

.rectangle {

  height: 1024px;
  width: 1366px;

  background: #498CEC;
  border: 1px solid #979797;
  box-sizing: border-box;

  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;

  color: #FFFFFF;
}

.info-area {
  display: flex;
  flex-direction: column;
  height: 85.77%;
  width: 87.26%;
  margin-left: 7.25%;
  margin-right: 5.49%;
  margin-top: 5.32%;
  margin-bottom: 11.91%;
}

.info-area-item {
  height: 33.33%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.first-city-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.measure-units-switch {
  display: flex;
  padding-top: -1px;
  padding-right: 5px;
  width: 77px;
  margin-top: 8px;
  margin-right: 11px;
}

.degrees-simbol {
  margin-right: 4px;
  padding-top: 3px;
  padding-right: 0px;
  opacity: 0.4;
}

.degrees-buttons-block {
  margin-left: 5.5px;
  display: flex;
  justify-content: center;
  width: 77px;
  height: 29px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
}

.degrees-buttons-block > .item {
  border: none;
  width: 38.5px;
  color: rgba(255, 255, 255, 0.4);
}

.c-button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.f-button{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.not-active-button{
  background-color: #498CEC;
}

.active-button{
  background-color: rgba(255, 255, 255, 0.2);
}

.active-letter {
  color: white;
}

.city-buttons-block {
  margin-top: 6px;
  margin-left: -5px;
  display: flex;
}

.city-button {
  display: flex;
  margin-right: 20px;
  border: none;
  color: white;
  background-color: transparent;
  align-self: center;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.arrow {
  left: 2px;
  bottom: 0px;
  margin-left: 1px;
  width: 30px;
  height: 30px;
}

.form-city-name {
  z-index: 2;
}

.container-wrap {
  display: flex;
  justify-content: space-between;
}

.city-select-container {
  margin-left: -3px;
  width: 579px;
}

.city-select-container-sm {
  width: 100%;
}

.br-8 {
  border-radius: 8px;
}

.br-4 {
  border-radius: 4px;
}

.input-city-name-block {
  display: flex;
  margin-top: 6px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.height-97 {
  height: 97px;
}

.height-53 {
  height: 53px;
}

.height-22 {
  height: 22px;
}

.width-55 {
  width: 55px;
}

.width-22 {
  width: 22px;
}

.input-city-name {
  margin-top: 2px;
  margin-left: 30px;
  flex-grow: 1;
  border: none;

  color: #000000;
}

.select-city-name {
  font-size: 20px;
  line-height: 36px;
  border-radius: 8px;

  color: #000000;
}

.city-name-submit-button {
  margin-top: 4px;
  margin-right: 27px;
  flex-grow: 0;
  border: none;
  color: #1086FF;
  background-color: transparent;
}

.variants {
  top: -0px;
  left: -0px;
  position: relative;
  display: iinline-block;;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.variants-wraper {
  padding: 5px 0 5px 0;
}

.list {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.var-button {
  border: none;
  color: black;
  padding-left: 5px;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

.var-button:hover, .var-button:focus {
  outline: none;
  color:white;
  box-shadow: none;
  background-color: #1086FF;
}

.middle-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 52px;
}

.middle-block > .item {
  text-align: center;

}

.main-block {
  display: flex;
  flex-grow: 2;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.size208 {
  max-width: 208px;
  max-height: 208px;
}

.size100 {
  max-width: 100px;
  max-height: 100px;
}

.whether-picture {
  align-self: center;
  margin-right: -8px;
}

.wether-desc {
  min-height: 48px;
  text-align: center;
  margin-top: -35px;
  margin-left: -45px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1px;
}

.footer-item-4 {
  width: 25%;
  align-self: flex-end;
  margin-bottom: 46px;
}

.footer-item-2 {
  width: 50%;
  align-self: flex-end;
}

.weather-block-name {
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-bottom: 13px;
}

.block-2 {
  padding-left: 15px;
}

.block-3 {
  padding-left: 35px;
}

.block-4 {
  padding-left: 22.5px;
}
/*
@media (max-width: 1365px) {
  .rectangle {
    width: 100%;
  }
}

@media (max-height: 1023px) {
  .rectangle {
    height: 100%;
    min-height: 667px;
  }
}
*/
@media (max-width: 375px) {
  .rectangle {
    height: 667px;
    width: 100%;
  }

  .info-area {
    height: 93%;
    width: 84.8%;
    margin-left: 5.07%;
    margin-right: 10.13%;
    margin-top: 2.85%;
    margin-bottom: 11.2%;
  }
}
