:root {
  --background-colour-desktop: #498cec;
  --background-colour-mobile: #7290b9;
  --letter-colour: #1086ff;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Light.ttf);
  font-weight: 300;
  font-style: 'light';
}

input:active,
input:hover,
input:focus,
select:active,
select:hover,
select:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #fff;
}

.rectangle {
  height: calc(100% - 5px);
  width: 133vh;
  padding: 4.5%;
  background: var(--background-colour-desktop);
  border: 1px solid #979797;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.info-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-area-item {
  height: 33.33%;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 770px) {
  .rectangle {
    width: calc(100% - 5px);
    background: var(--background-colour-mobile);
  }
}

@media (max-height: 550px) {
  .info-area {
    height: auto;
  }

  .rectangle {
    overflow-x: auto;
  }
}
