:root {
  --background-colour: #498cec;
  --letter-colour: #1086ff;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url(../fonts/Lato-Light.ttf);
  font-weight: 300;
  font-style: 'light';
}

input:active,
input:hover,
input:focus,
select:active,
select:hover,
select:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.desktop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

.rectangle {
  height: 1024px;
  width: 1366px;
  background: var(--background-colour);
  border: 1px solid #979797;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.info-area {
  display: flex;
  flex-direction: column;
  height: 85.77%;
  width: 87.26%;
  margin-left: 7.25%;
  margin-right: 5.49%;
  margin-top: 5.32%;
  margin-bottom: 11.91%;
}

.info-area-item {
  height: 33.33%;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .rectangle {
    height: 669px;
    max-width: 378px;
  }

  .info-area {
    height: 93%;
    width: 85.83%;
    margin-left: 5.07%;
    margin-right: 9.1%;
    margin-top: 2.85%;
    margin-bottom: 11.2%;
  }
}
